* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  background: #222;
}

.Card {
  background: #000000d0;
  color: #fff;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 2em;
  h1 {
    margin: 0.5rem;
    text-align: center;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      border: none;
      outline: none;
      padding: 0.4em 1em;
      border-radius: 24px;
      background: #7c7c7c2b;
      color: #fff;
      font-family: inherit;
      font-size: 105%;
      width: 100%;
    }
    svg {
      margin: 0.5em;
      border: none;
      height: 44px;
      width: 44px;
      outline: none;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #7c7c7c2b;
        transition: 0.2s ease-in-out;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .close {
      position: absolute;
      left: 58%;
      margin-top: -1rem;
      padding: 1rem 1rem 0.9rem 1rem;
      &:hover {
        background-color: #000000;
        color: white;
      }
    }

    li {
      list-style: none;
      margin: 0.2rem;
      font-size: 1.3rem;
      border-radius: 1.5rem;
      padding: 0.5rem;
      background: grey;
      cursor: pointer;
      &:hover {
        background: black;
        color: grey;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

//independent styles

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  left: 40%;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

#error {
  display: none;
  color: red;
}

@import url(./media.scss);
